<h1><center>WebScraping Transfermarkt</center></h1>

This Notebook will be utilising the BeautifulSoup Web scraping library, to web scrape data from the popular football transfer website Transfermarkt. The aim of this notebook is to be an introduction to web scraping football data, it will demonstrate a very easy way to scrape football transfer data as shown by the FC Python community website. Knowledge of HTML, CSS is advantageous when doing web scraping however not specifically required.

In [3]:
#Import Libraries
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [182]:
#This will tell the browser that we are a browser and not a scraping tool
headers = {'User-Agent':
          'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

#The page will be the page to be scraped
page = 'https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/plus/0/galerie/0?saison_id=2021'
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [38]:
#Find all the td tags with the class "hauptlink" and store it in the
#variable Players
Players = pageSoup.find_all("td", {"class":"hauptlink"})

In [39]:
#The type of the variable Players
print(type(Players))

#Length of the element resultset
print(len(Players))

<class 'bs4.element.ResultSet'>
75

In [40]:
#Text value of the first element in Players
Players[0].text

'\nJack Grealish '

In [41]:
#Printing out the index and the value in each index in
#The Players list 
for i,player in enumerate(Players):
    print(i, player)

0 <td class="hauptlink">
<a href="/jack-grealish/profil/spieler/203460" title="Jack Grealish">Jack Grealish</a> </td>
1 <td class="hauptlink">
<a href="/manchester-city/startseite/verein/281/saison_id/2021" title="Manchester City">Man City</a> </td>
2 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/203460/transfer_id/3479948">£105.75m</a></td>
3 <td class="hauptlink">
<a href="/romelu-lukaku/profil/spieler/96341" title="Romelu Lukaku">Romelu Lukaku</a> </td>
4 <td class="hauptlink">
<a href="/fc-chelsea/startseite/verein/631/saison_id/2021" title="Chelsea FC">Chelsea</a> </td>
5 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/96341/transfer_id/3494597">£101.70m</a></td>
6 <td class="hauptlink">
<a href="/jadon-sancho/profil/spieler/401173" title="Jadon Sancho">Jadon Sancho</a> </td>
7 <td class="hauptlink">
<a href="/manchester-united/startseite/verein/985/saison_id/2021" title="Manchester United">Man Utd</a> </td>
8 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/401173/transfer_id/3456520">£76.50m</a></td>
9 <td class="hauptlink">
<a href="/dusan-vlahovic/profil/spieler/357498" title="Dusan Vlahovic">Dusan Vlahovic</a> </td>
10 <td class="hauptlink">
<a href="/juventus-turin/startseite/verein/506/saison_id/2021" title="Juventus FC">Juventus</a> </td>
11 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/357498/transfer_id/3717441">£73.44m</a></td>
12 <td class="hauptlink">
<a href="/achraf-hakimi/profil/spieler/398073" title="Achraf Hakimi">Achraf Hakimi</a> </td>
13 <td class="hauptlink">
<a href="/fc-paris-saint-germain/startseite/verein/583/saison_id/2021" title="Paris Saint-Germain">Paris SG</a> </td>
14 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/398073/transfer_id/3425954">£59.85m</a></td>
15 <td class="hauptlink">
<a href="/ben-white/profil/spieler/335721" title="Ben White">Ben White</a> </td>
16 <td class="hauptlink">
<a href="/fc-arsenal/startseite/verein/11/saison_id/2021" title="Arsenal FC">Arsenal</a> </td>
17 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/335721/transfer_id/3469581">£52.65m</a></td>
18 <td class="hauptlink">
<a href="/ferran-torres/profil/spieler/398184" title="Ferran Torres">Ferran Torres</a> </td>
19 <td class="hauptlink">
<a href="/fc-barcelona/startseite/verein/131/saison_id/2021" title="FC Barcelona">Barcelona</a> </td>
20 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/398184/transfer_id/3669718">£49.50m</a></td>
21 <td class="hauptlink">
<a href="/luis-diaz/profil/spieler/480692" title="Luis Díaz">Luis Díaz</a> </td>
22 <td class="hauptlink">
<a href="/fc-liverpool/startseite/verein/31/saison_id/2021" title="Liverpool FC">Liverpool</a> </td>
23 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/480692/transfer_id/3720042">£40.50m</a></td>
24 <td class="hauptlink">
<a href="/dayot-upamecano/profil/spieler/344695" title="Dayot Upamecano">Dayot Upamecano</a> </td>
25 <td class="hauptlink">
<a href="/fc-bayern-munchen/startseite/verein/27/saison_id/2021" title="Bayern Munich">FC Bayern </a> </td>
26 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/344695/transfer_id/3252783">£38.25m</a></td>
27 <td class="hauptlink">
<a href="/bruno-guimaraes/profil/spieler/520624" title="Bruno Guimarães">Bruno Guimarães</a> </td>
28 <td class="hauptlink">
<a href="/newcastle-united/startseite/verein/762/saison_id/2021" title="Newcastle United">Newcastle</a> </td>
29 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/520624/transfer_id/3720274">£37.89m</a></td>
30 <td class="hauptlink">
<a href="/raphael-varane/profil/spieler/164770" title="Raphaël Varane">Raphaël Varane</a> </td>
31 <td class="hauptlink">
<a href="/manchester-united/startseite/verein/985/saison_id/2021" title="Manchester United">Man Utd</a> </td>
32 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/164770/transfer_id/3498143">£36.00m</a></td>
33 <td class="hauptlink">
<a href="/tammy-abraham/profil/spieler/331726" title="Tammy Abraham">Tammy Abraham</a> </td>
34 <td class="hauptlink">
<a href="/as-rom/startseite/verein/12/saison_id/2021" title="AS Roma">AS Roma</a> </td>
35 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/331726/transfer_id/3503145">£36.00m</a></td>
36 <td class="hauptlink">
<a href="/ibrahima-konate/profil/spieler/357119" title="Ibrahima Konaté">Ibrahima Konaté</a> </td>
37 <td class="hauptlink">
<a href="/fc-liverpool/startseite/verein/31/saison_id/2021" title="Liverpool FC">Liverpool</a> </td>
38 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/357119/transfer_id/3380058">£36.00m</a></td>
39 <td class="hauptlink">
<a href="/emiliano-buendia/profil/spieler/321247" title="Emiliano Buendía">Emiliano Buendía</a> </td>
40 <td class="hauptlink">
<a href="/aston-villa/startseite/verein/405/saison_id/2021" title="Aston Villa">Aston Villa</a> </td>
41 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/321247/transfer_id/3392957">£34.56m</a></td>
42 <td class="hauptlink">
<a href="/martin-odegaard/profil/spieler/316264" title="Martin Ødegaard">Martin Ødegaard</a> </td>
43 <td class="hauptlink">
<a href="/fc-arsenal/startseite/verein/11/saison_id/2021" title="Arsenal FC">Arsenal</a> </td>
44 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/316264/transfer_id/3509558">£31.50m</a></td>
45 <td class="hauptlink">
<a href="/rodrigo-de-paul/profil/spieler/255901" title="Rodrigo de Paul">Rodrigo de Paul</a> </td>
46 <td class="hauptlink">
<a href="/atletico-madrid/startseite/verein/13/saison_id/2021" title="Atlético de Madrid">Atlético Madrid</a> </td>
47 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/255901/transfer_id/3436047">£31.50m</a></td>
48 <td class="hauptlink">
<a href="/kurt-zouma/profil/spieler/157509" title="Kurt Zouma">Kurt Zouma</a> </td>
49 <td class="hauptlink">
<a href="/west-ham-united/startseite/verein/379/saison_id/2021" title="West Ham United">West Ham</a> </td>
50 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/157509/transfer_id/3523391">£31.50m</a></td>
51 <td class="hauptlink">
<a href="/leon-bailey/profil/spieler/387626" title="Leon Bailey">Leon Bailey</a> </td>
52 <td class="hauptlink">
<a href="/aston-villa/startseite/verein/405/saison_id/2021" title="Aston Villa">Aston Villa</a> </td>
53 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/387626/transfer_id/3477204">£28.80m</a></td>
54 <td class="hauptlink">
<a href="/eduardo-camavinga/profil/spieler/640428" title="Eduardo Camavinga">Eduardo Camavinga</a> </td>
55 <td class="hauptlink">
<a href="/real-madrid/startseite/verein/418/saison_id/2021" title="Real Madrid">Real Madrid</a> </td>
56 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/640428/transfer_id/3529684">£27.90m</a></td>
57 <td class="hauptlink">
<a href="/nikola-vlasic/profil/spieler/293200" title="Nikola Vlasic">Nikola Vlasic</a> </td>
58 <td class="hauptlink">
<a href="/west-ham-united/startseite/verein/379/saison_id/2021" title="West Ham United">West Ham</a> </td>
59 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/293200/transfer_id/3527846">£27.00m</a></td>
60 <td class="hauptlink">
<a href="/donyell-malen/profil/spieler/326029" title="Donyell Malen">Donyell Malen</a> </td>
61 <td class="hauptlink">
<a href="/borussia-dortmund/startseite/verein/16/saison_id/2021" title="Borussia Dortmund">Bor. Dortmund</a> </td>
62 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/326029/transfer_id/3464322">£27.00m</a></td>
63 <td class="hauptlink">
<a href="/lucas-digne/profil/spieler/126664" title="Lucas Digne">Lucas Digne</a> </td>
64 <td class="hauptlink">
<a href="/aston-villa/startseite/verein/405/saison_id/2021" title="Aston Villa">Aston Villa</a> </td>
65 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/126664/transfer_id/3693135">£27.00m</a></td>
66 <td class="hauptlink">
<a href="/patson-daka/profil/spieler/365172" title="Patson Daka">Patson Daka</a> </td>
67 <td class="hauptlink">
<a href="/leicester-city/startseite/verein/1003/saison_id/2021" title="Leicester City">Leicester</a> </td>
68 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/365172/transfer_id/3415690">£27.00m</a></td>
69 <td class="hauptlink">
<a href="/chris-wood/profil/spieler/108725" title="Chris Wood">Chris Wood</a> </td>
70 <td class="hauptlink">
<a href="/newcastle-united/startseite/verein/762/saison_id/2021" title="Newcastle United">Newcastle</a> </td>
71 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/108725/transfer_id/3693123">£27.00m</a></td>
72 <td class="hauptlink">
<a href="/danny-ings/profil/spieler/134294" title="Danny Ings">Danny Ings</a> </td>
73 <td class="hauptlink">
<a href="/aston-villa/startseite/verein/405/saison_id/2021" title="Aston Villa">Aston Villa</a> </td>
74 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/134294/transfer_id/3478204">£26.48m</a></td>

In [33]:
#Find all the td tags with the class "rechts hauptlink"
Fees = pageSoup.find_all("td", "rechts hauptlink")

In [59]:
#the type of the variable Fees
print(type(Fees))

<class 'bs4.element.ResultSet'>

In [34]:
#The text value of the first element of Fees
Fees[0].text

'£105.75m'

In [42]:
#Print the index and element of the Result Set
for i, row in enumerate(Fees):
    print(i, row)

0 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/203460/transfer_id/3479948">£105.75m</a></td>
1 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/96341/transfer_id/3494597">£101.70m</a></td>
2 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/401173/transfer_id/3456520">£76.50m</a></td>
3 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/357498/transfer_id/3717441">£73.44m</a></td>
4 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/398073/transfer_id/3425954">£59.85m</a></td>
5 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/335721/transfer_id/3469581">£52.65m</a></td>
6 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/398184/transfer_id/3669718">£49.50m</a></td>
7 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/480692/transfer_id/3720042">£40.50m</a></td>
8 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/344695/transfer_id/3252783">£38.25m</a></td>
9 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/520624/transfer_id/3720274">£37.89m</a></td>
10 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/164770/transfer_id/3498143">£36.00m</a></td>
11 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/331726/transfer_id/3503145">£36.00m</a></td>
12 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/357119/transfer_id/3380058">£36.00m</a></td>
13 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/321247/transfer_id/3392957">£34.56m</a></td>
14 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/316264/transfer_id/3509558">£31.50m</a></td>
15 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/255901/transfer_id/3436047">£31.50m</a></td>
16 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/157509/transfer_id/3523391">£31.50m</a></td>
17 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/387626/transfer_id/3477204">£28.80m</a></td>
18 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/640428/transfer_id/3529684">£27.90m</a></td>
19 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/293200/transfer_id/3527846">£27.00m</a></td>
20 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/326029/transfer_id/3464322">£27.00m</a></td>
21 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/126664/transfer_id/3693135">£27.00m</a></td>
22 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/365172/transfer_id/3415690">£27.00m</a></td>
23 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/108725/transfer_id/3693123">£27.00m</a></td>
24 <td class="rechts hauptlink"><a href="/jumplist/transfers/spieler/134294/transfer_id/3478204">£26.48m</a></td>

In [159]:
#`create two lists one for the Players and one for the Fees
PlayersList = []
FeesList = []

count = 0
#For loop to add the names of the players and their corresponding fees
#to their respective lists
for i, fee in enumerate(Fees):
    
    PlayersList.append(Players[count].text)
    FeesList.append(Fees[i].text)
    
    count+=3

In [160]:
#Create DataFrame of the Players List and Fees List
df_transfer = pd.DataFrame({"Players":PlayersList, "Transfer Fees (£)": FeesList})

In [161]:
#Remove the newline character, '£' and 'm' from the Dataframe
df_transfer.replace('\n', '', regex=True, inplace=True)
df_transfer.replace('£', '', regex=True, inplace=True)
df_transfer['Transfer Fees (£)'].replace('m', '', regex=True, inplace=True)

In [162]:
#Applys the float function to each row in the Transfer Fees column
df_transfer['Transfer Fees (£)'] = df_transfer['Transfer Fees (£)'].apply(float)

In [163]:
#Check the Data types in the Dataframe
df_transfer.dtypes

Players               object
Transfer Fees (£)    float64
dtype: object

In [164]:
#Check the information of the Dataframe
df_transfer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Players            25 non-null     object
 1   Transfer Fees (£)  25 non-null     float64
dtypes: float64(1), object(1)
memory usage: 528.0+ bytes

In [165]:
df_transfer

               Players  Transfer Fees (£)
0       Jack Grealish              105.75
1       Romelu Lukaku              101.70
2        Jadon Sancho               76.50
3      Dusan Vlahovic               73.44
4       Achraf Hakimi               59.85
5           Ben White               52.65
6       Ferran Torres               49.50
7           Luis Díaz               40.50
8     Dayot Upamecano               38.25
9     Bruno Guimarães               37.89
10     Raphaël Varane               36.00
11      Tammy Abraham               36.00
12    Ibrahima Konaté               36.00
13   Emiliano Buendía               34.56
14    Martin Ødegaard               31.50
15    Rodrigo de Paul               31.50
16         Kurt Zouma               31.50
17        Leon Bailey               28.80
18  Eduardo Camavinga               27.90
19      Nikola Vlasic               27.00
20      Donyell Malen               27.00
21        Lucas Digne               27.00
22        Patson Daka               27.00
23         Chris Wood               27.00
24         Danny Ings               26.48

In [125]:
#Second url for 2020 Transfer data
page2 = 'https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/plus/0/galerie/0?saison_id=2020'
pageTree2 = requests.get(page2, headers=headers)
pageSoup2 = BeautifulSoup(pageTree2.content, 'html.parser')

In [129]:
Players2 = pageSoup2.find_all("td", "hauptlink")

In [131]:
#The first element in the Players2
Players2[0].text

'\nKai Havertz '

In [132]:
Fees2 = pageSoup2.find_all("td", "rechts hauptlink")

In [136]:
#The first element in the Fees2
Fees2[0].text

'£68.40m'

In [166]:
#Create two lists for the Players2 and Fees2 resultsets
PlayersList2 = []
FeesList2 = []

count = 0
for i, fee in enumerate(Fees2):
    
    PlayersList2.append(Players2[count].text)
    FeesList2.append(Fees2[i].text)
    
    count+=3

In [167]:
#Check the list PlayersList2
PlayersList2

['\nKai Havertz ',
 '\nArthur ',
 '\nVictor Osimhen ',
 '\nRúben Dias ',
 '\nLeroy Sané ',
 '\nMiralem Pjanic ',
 '\nTimo Werner ',
 '\nBen Chilwell ',
 '\nMauro Icardi ',
 '\nThomas Partey ',
 '\nNathan Aké ',
 '\nDiogo Jota ',
 '\nAchraf Hakimi ',
 '\nHakim Ziyech ',
 '\nFábio Silva ',
 '\nDonny van de Beek ',
 '\nÁlvaro Morata ',
 '\nWesley Fofana ',
 '\nOllie Watkins ',
 '\nFerran Torres ',
 '\nNicolò Barella ',
 '\nGiovani Lo Celso ',
 '\nNélson Semedo ',
 '\nFrancisco Trincão ',
 '\nRodrigo ']

In [168]:
#Check the list FeesList2
FeesList2

['£72.00m',
 '£68.40m',
 '£67.50m',
 '£61.20m',
 '£54.00m',
 '£54.00m',
 '£47.70m',
 '£45.18m',
 '£45.00m',
 '£45.00m',
 '£40.77m',
 '£40.23m',
 '£38.70m',
 '£36.00m',
 '£36.00m',
 '£35.10m',
 '£31.50m',
 '£31.50m',
 '£30.60m',
 '£30.15m',
 '£29.25m',
 '£28.80m',
 '£28.80m',
 '£27.90m',
 '£27.00m']

In [169]:
df_transfer2 = pd.DataFrame({"Players":PlayersList2, "Transfer Fees (£)":FeesList2})

In [171]:
df_transfer2.replace('\n', '', regex=True, inplace=True)
df_transfer2.replace('£', '', regex=True, inplace=True)
df_transfer2['Transfer Fees (£)'].replace('m', '', regex=True, inplace=True)

In [173]:
df_transfer['Transfer Fees (£)'] = df_transfer['Transfer Fees (£)'].apply(float)

In [174]:
df_transfer2

               Players Transfer Fees (£)
0         Kai Havertz              72.00
1              Arthur              68.40
2      Victor Osimhen              67.50
3          Rúben Dias              61.20
4          Leroy Sané              54.00
5      Miralem Pjanic              54.00
6         Timo Werner              47.70
7        Ben Chilwell              45.18
8        Mauro Icardi              45.00
9       Thomas Partey              45.00
10         Nathan Aké              40.77
11         Diogo Jota              40.23
12      Achraf Hakimi              38.70
13       Hakim Ziyech              36.00
14        Fábio Silva              36.00
15  Donny van de Beek              35.10
16      Álvaro Morata              31.50
17      Wesley Fofana              31.50
18      Ollie Watkins              30.60
19      Ferran Torres              30.15
20     Nicolò Barella              29.25
21   Giovani Lo Celso              28.80
22      Nélson Semedo              28.80
23  Francisco Trincão              27.90
24            Rodrigo              27.00

In [277]:
#We are going to write the above code into a function
#Helper function to populate lists
def populateLists(players, playerList, fees, feeList):
   
    
    count = 0
    for i, fee in enumerate(fees):
        
        playerList.append(players[count].text)
        feeList.append(fees[i].text)
        
        #players name is in every third index
        count+=3
        
#Helper function to clean a Transfer dataframe 
def cleanTransferDataFrame(df):
    df.replace('\n', '', regex=True, inplace=True)
    df.replace('£', '', regex=True, inplace=True)
    df['Transfer Fee (£)'].replace('m', '', regex=True, inplace=True)
    df['Transfer Fee (£)'] = df['Transfer Fee (£)'].apply(float)
    
    return df
    

def scrapeTransferPage(year):
    
    if type(year) == int:
        year = str(year)
    
    elif type(year) == str:
        pass
    
    else:
        raise Exception("Wrong data type used: use str or int")
        
    page = 'https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/plus/0/galerie/0?saison_id='+year
    pageTree = requests.get(page, headers={'User-Agent':
          'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'})
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
    
    if pageTree.status_code == 404:
        
        raise Exception("404 Error: Web Page is not available")
        
    
    Players = pageSoup.find_all("td", {"class":"hauptlink"})
    Fees = pageSoup.find_all("td", "rechts hauptlink")
    
    
    playerList = []
    feeList = []
    populateLists(Players, playerList, Fees, feeList)
        
    if len(playerList) > 0 and len(feeList) > 0:
        df = pd.DataFrame({"Players":playerList, "Transfer Fee (£)":feeList})
        df = cleanTransferDataFrame(df)
    else:
        raise Exception('Player List or FeeList is empty and has not been populated')
    
    return df

In [281]:
#Get the top Transfers from the 2021
transfers_2021 = scrapeTransferPage('2021')

In [282]:
transfers_2021

               Players  Transfer Fee (£)
0       Jack Grealish             105.75
1       Romelu Lukaku             101.70
2        Jadon Sancho              76.50
3      Dusan Vlahovic              73.44
4       Achraf Hakimi              59.85
5           Ben White              52.65
6       Ferran Torres              49.50
7           Luis Díaz              40.50
8     Dayot Upamecano              38.25
9     Bruno Guimarães              37.89
10     Raphaël Varane              36.00
11      Tammy Abraham              36.00
12    Ibrahima Konaté              36.00
13   Emiliano Buendía              34.56
14    Martin Ødegaard              31.50
15    Rodrigo de Paul              31.50
16         Kurt Zouma              31.50
17        Leon Bailey              28.80
18  Eduardo Camavinga              27.90
19      Nikola Vlasic              27.00
20      Donyell Malen              27.00
21        Lucas Digne              27.00
22        Patson Daka              27.00
23         Chris Wood              27.00
24         Danny Ings              26.48

In [293]:
#Dictionary to store all the top transfers in the season
topTransfers = {}

#Populate the dictionary with transfers from 2000 to 2020
for i in range(2000, 2021):
    
    topTransfers[i] = scrapeTransferPage(i)

In [294]:
#Top transfers in the year 2000
topTransfers[2000]

                     Players  Transfer Fee (£)
0                 Luís Figo              54.00
1             Hernán Crespo              51.13
2         Gabriel Batistuta              32.54
3            Nicolas Anelka              31.05
4             Marc Overmars              26.37
5             Rio Ferdinand              23.40
6          Flávio Conceição              22.50
7            Savo Milosevic              22.50
8           David Trézéguet              20.92
9            Matías Almeyda              20.70
10            Claudio López              20.70
11  Jimmy Floyd Hasselbaink              20.25
12             Gerard López              19.44
13                    Lucas              19.17
14              Pablo Aimar              19.13
15            Wálter Samuel              18.72
16            Shabani Nonda              18.00
17             Robbie Keane              17.55
18          Jonathan Zebina              16.56
19                  Émerson              16.20
20           Tore André Flo              16.20
21            Sergiy Rebrov              16.20
22           Angelo Peruzzi              16.11
23            Diego Tristán              15.98
24          Sylvain Wiltord              15.75

In [295]:
#Top Transfers in 2010
topTransfers[2010]

                 Players  Transfer Fee (£)
0       Fernando Torres              52.65
1          Andy Carroll              36.90
2           David Villa              36.00
3            Edin Dzeko              33.30
4        Ángel Di María              29.70
5            Yaya Touré              27.00
6       Mario Balotelli              26.55
7           David Silva              25.88
8           Luis Suárez              23.85
9            David Luiz              22.50
10   Aleksandar Kolarov              21.47
11       Yoann Gourcuff              19.80
12         James Milner              19.80
13          Bruno Alves              19.80
14              Ramires              19.80
15          Darren Bent              19.35
16              Robinho              18.90
17    Javier Mascherano              18.00
18       Carlos Eduardo              18.00
19           Mesut Özil              16.20
20    Giampaolo Pazzini              16.20
21         Luiz Gustavo              15.30
22  André-Pierre Gignac              14.40
23         Asamoah Gyan              14.40
24                Diego              13.95

In [299]:
topTransfers[2015].head()

            Players  Transfer Fee (£)
0  Kevin De Bruyne              68.40
1  Raheem Sterling              57.33
2   Ángel Di María              56.70
3  Anthony Martial              54.00
4    Alex Teixeira              45.00

In [300]:
topTransfers[2020].tail()

               Players  Transfer Fee (£)
20     Nicolò Barella              29.25
21   Giovani Lo Celso              28.80
22      Nélson Semedo              28.80
23  Francisco Trincão              27.90
24            Rodrigo              27.00